@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  color: white;
}
/* navbar underline animation */
#navbar-tag {
  position: relative;
  text-decoration: none;
}

#navbar-tag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background: #fff200;
  transition: width 0.3s ease;
}

#navbar-tag:hover::after {
  width: 100%;
}